<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>pifm-browser</title>

    <!-- build:css /vendor/css/styles.css -->
    <link href="/vendor/css/bootstrap.css" rel="stylesheet">
    <link href="/vendor/css/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>

  <body ng-app="PifmBrowser" ng-controller="PifmBrowserCtrl">

      <div class="container">

        <div ng-show="error">
            <h1>Houston, we have a problem.</h1>
        </div>

        <div ng-hide="error">
            <div class="header">
              <h3 class="text-muted">pifm-browser</h3>
            </div>

            <div class="jumbotron">
                <h1>{{currentzik.name}}</h1>
                <p>
                    Last music: {{lastzik.name}}
                </p>
                <p>
                    Broad on {{freq}} FM.
                </p>
                <p>
                    <a class="click btn btn-xs btn-primary" role="button" ng-click="refresh()">Refresh musics</a>
                </p>
            </div>


            <div>
                <p><input ng-model="search" type="text" class="form-control" placeholder="Search"></p>
                <ul>
                    <li ng-repeat="zik in musics | filter:search">{{zik.name}}</li>
                </ul>
            </div>

            <div class="footer">
              <p>Cedced19 - 2015</p>
            </div>
        </div>
      </div>


    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <!-- build:js /vendor/js/scripts.js -->
    <script src="/vendor/js/angular.min.js" type="text/javascript"></script>
    <script src="/vendor/js/app.js" type="text/javascript"></script>
    <!-- endbuild -->
  </body>
</html>
